.s-article
  padding-bottom: 65px
  padding-right: 500px
  font-size: 18px
  .section-title
    margin-bottom: 25px
  p
    margin-bottom: 25px
  a
    color: $accent-blue
    text-decoration: underline
    &:hover
      text-decoration: none
  h3
    font-size: 24px
    font-weight: 500
  &.p-article
    .section-title
      margin-bottom: 12px
  ul
    li
      position: relative
      padding-left: 16px
      margin-bottom: 5px
      &:before
        content: ''
        position: absolute
        width: 7px
        height: 7px
        border-radius: 50%
        background-color: $accent-darkblue
        left: 0
        top: 9px

a.to-blog
  font-size: 16px
  color: $accent-red
  text-decoration: underline
  &:hover
    text-decoration: none

a.link-phone
  font-size: 22px
  font-weight: 500
  color: $accent-darkblue
  text-decoration: none
  white-space: nowrap


.del-title
  font-weight: 500
  margin-bottom: 12px

.del-item
  display: inline-block
  margin-right: 30px
  &-title
    text-transform: uppercase
    font-size: 14px
    color: $accent-darkblue
    font-weight: 500

