@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $accent-blue
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.5
  font-family: $default-font
  overflow-x: hidden
  color: $text
  background-color: #f4f4f4
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover
  color: $accent-blue
  text-decoration: none

a:active, a:focus
  color: $accent-blue
  text-decoration: none

a
  color: $accent-blue
  text-decoration: underline
  +mt(.2s)

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important
// ======= END TEMPLATE STYLES =======

.page-container
  display: flex
  align-items: flex-start
  position: relative
  .sidebar
    width: 288px
    height: 100px
    background-color: #fff
  .content
    width: calc(100% - 288px)

.btn
  display: inline-block
  white-space: nowrap
  line-height: 1
  +mt(.3s)
  text-align: center
  text-transform: uppercase
  font-size: 14px
  font-weight: 600
  box-shadow: none
  cursor: pointer

.btn-blue
  background-color: $accent-blue
  color: #fff
  border-radius: 4px
  padding: 16px
  border: none
  &:hover
    background-color: darken($accent-blue, 10%)




form
  label
    display: block
  input
    width: 100%






